.menu {
  grid-area: menu;
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-columns: 1fr;
}

.menu > :nth-child(1) {
  grid-row: 2;
}

.menu > :nth-child(2) {
  grid-row: 3;
}

.menu > :nth-child(3) {
  grid-row: 4;
}

button {
  font-size: 1.5rem;
  padding: 1rem 0;
  min-width: 12rem;
}
