.cell {
  cursor: pointer;
  display: grid;
  place-items: center;
}

.value {
  font-size: 3rem;
}

.candidates {
  align-self: stretch;
  justify-self: stretch;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.candidate {
  font-weight: 700;
}

input {
  width: 90%;
  height: 92%;
  text-align: center;
  border: none;
  background: none;
}
