.cell {
  cursor: pointer;
  display: grid;
  align-items: center;
}

.value {
  font-size: 3rem;
}

.candidates {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.candidate {
  font-weight: 700;
}
