.cell {
  cursor: pointer;
  display: grid;
}

.value {
  font-size: 3rem;
}

.candidates {
  align-self: stretch;
  justify-self: stretch;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.candidate {
  font-weight: 700;
}

input {
  display: grid;
  text-align: center;
  border: none;
  background: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
